.profile {
    .mainInfo {
        display: flex;
        margin-bottom: 30px;
        .avatar {
            flex-shrink: 0;
            width: 200px;
            height: 200px;
            margin-right: 20px;
            border: 5px solid black;
            border-radius: 50%;
        }
    }
}