.app_wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

.wrapper_center {
    display: flex;
    height: 100%;
}

.title {
    margin-bottom: 10px;
}