.app_wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

.wrapper_center {
    display: flex;
    height: 100%;
}

.content {
    flex: auto;
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(209, 73, 19);
    color: white;
    font-size: 20px;
}

.title {
    margin-bottom: 10px;
}