.app_wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 5px solid black;
    margin-bottom: 10px;
    background-color: rgb(173, 0, 253);
    height: 150px;
    img {
        border: 5px solid black;
        border-radius: 50%;
    }
}

.wrapper_center {
    display: flex;
    height: 100%;
}

.menu {
    flex: 0 0 20%;
    margin-right: 10px;
    padding: 10px;
    border: 5px solid black;
    background-color: chartreuse;
}

.main {
    flex: auto;
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(209, 73, 19);
    color: white;
    font-size: 20px;
}
